html,
body {
  height: 100%;
  margin: 0;
}

.searchBar {
  width: 30%;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 30px;
  padding-left: 10px;
}

.searchBtn {
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::placeholder {
  color: #333;
  opacity: 0.3;
  padding-left: 10px;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,44,160,1) 0%, rgba(0,160,255,1) 100%);
  text-align: center;
  min-height: 90vh;
  margin: 0;
  transition: all 0.3s;
}

h1 {
  color: white;
  margin-top: 80px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.jumbotron p {
  color: white;
  margin-bottom: 30px;
}

.searchBtn {
  
}

.footer {
  height: 50px;
  margin-top: -50px;
}

.card-footer {
  text-align: center;
}

/* .blur {
    filter: blur(4px);
} */
